.detailsDiv {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.detailSpan {
    padding-right: 0.5em;
}

.detailValue {
    flex: 1;
}

vscode-dropdown,
vscode-text-area,
vscode-text-field {
    width: 100%;
}

vscode-dropdown {
    max-width: 250px;
}
