permissions:
    actions: read

name: ESLint and Biome
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            # required for all workflows
            security-events: write
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  persist-credentials: false

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version-file: ".nvmrc"
                  cache: "npm"

            - name: Install modules
              run: npm install

            - name: Run formatter check
              run: npx biome check --formatter-enabled=true --linter-enabled=false .

            - name: Run ESLint
              run: npx eslint --ext ts --color -c .eslintrc.cjs src

            - name: Run TypeScript type check
              run: npx tsc --noEmit

            - name: Run tests
              run: npm test
