permissions:
    actions: read

name: ESLint and Biome
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            # required for all workflows
            security-events: write
        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  persist-credentials: false

            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version-file: ".nvmrc"
                  cache: "npm"

            - name: Install modules
              run: npm install

            - name: Run formatter check
              run: npx biome check --formatter-enabled=true --linter-enabled=false .

            - name: Run ESLint
              run: npx eslint --ext ts --color -c .eslintrc.cjs src

            - name: Run TypeScript type check
              run: npx tsc --noEmit

            - name: Run tests
              run: npm test
