name: Build release and publish on VSCode's Marketplace and OpenVSX
on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  persist-credentials: false

            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version-file: ".nvmrc"
                  cache: "npm"

            - name: Install dependencies
              run: npm install

            - name: Build the vsix
              run: npx vsce package -o weaudit.vsix

            - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
              with:
                  name: weaudit
                  path: weaudit.vsix

    upload-asset:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        permissions:
            contents: write
        steps:
            - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
              with:
                  name: weaudit

            - name: Upload vsix to release
              uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
              with:
                  files: weaudit.vsix

    publish:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        steps:
            - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
              with:
                  name: weaudit

            - name: Publish Extension on VSCode's Marketplace
              run: npx vsce publish --pat ${{ secrets.WEAUDIT_VSCODE_MARKETPLACE_TOKEN }} --packagePath weaudit.vsix

            - name: Publish Extension on OpenVSX
              run: npx ovsx publish --pat ${{ secrets.WEAUDIT_OPENVSX_TOKEN }} --packagePath weaudit.vsix
