name: Build release and publish on VSCode's Marketplace and OpenVSX
on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  persist-credentials: false
            - uses: actions/setup-node@v4

            - name: Install dependencies
              run: npm install

            - name: Build the vsix
              run: npx vsce package -o weaudit.vsix

            - uses: actions/upload-artifact@v4
              with:
                  name: weaudit
                  path: weaudit.vsix

    upload-asset:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        permissions:
            contents: write
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: weaudit

            - name: Add vsix to the release assets
              uses: actions/upload-release-asset@v1.0.2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: weaudit.vsix
                  asset_name: weaudit.vsix
                  asset_content_type: application/octet-stream

    publish:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: weaudit

            - name: Publish Extension on VSCode's Marketplace
              run: npx vsce publish --pat ${{ secrets.WEAUDIT_VSCODE_MARKETPLACE_TOKEN }} --packagePath weaudit.vsix

            - name: Publish Extension on OpenVSX
              run: npx ovsx publish --pat ${{ secrets.WEAUDIT_OPENVSX_TOKEN }} --packagePath weaudit.vsix
